@keyframes move {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes move1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
} 

@keyframes animateText {

    0%  {
        opacity: 0;
         
    } 
    100% {
        opacity: 1;
    }
} 
@keyframes animate {

    0%,
    50% {
        background: #050c09;
        box-shadow: none;
    }

    50.1%,
    100% {
        background: #0f0;
        box-shadow: 0 0 5px #0f0,
            0 0 15px #0f0,
            0 0 30px #0f0,
            0 0 65px #0f0,
            0 0 90px #0f0;
    }
}